body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Jost', sans-serif;
}

/** Convert 1rem into 10px - easier to calculate **/

html {
    font-size: 62.5%;
}

/*
#landingbanner{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image: url("/media/background-test.jpg");
    color: white;
}
*/
#landingVideo {
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    opacity: 0.9;
}

.logo{
    width: 15em;
    height: 5rem;
}

@media (max-width: 1024px){

    .logo{
        width: 26vw;
        height: 13vh;
    }
}

@media (max-width: 768px){

    .logo{
        width: 58vw;
    }
}

nav{
    height: 90px;
    background-color: black;
}

nav ul li{
    padding: 5px;
    color: white;
    font-size: 1vw;
}

.navbar-nav li a{
    color: white;
}

button{
    color: white;
}

button .read-more{
    padding: 30px;
}

#landing-title h1{
    font-size: 5.5rem;
    font-weight:bolder;
    line-height: 1;
}

@media (max-width: 768px) {
    #landing-title h1{
        font-size: 10.5rem;
        font-weight:bolder;
        line-height: 1;
    }
}

#landing-title-content p{
    font-size: 1.5vw;
    font-weight: 500;
}

.fixed-top{
    top: -40px;
    transform: translateY(40px);
    transition: transform .5s;
    background-color: black;
    box-shadow: 0px 2px 5px #777;
}

/**** INTRO CONTENT ******/

.landing-block{
    margin-top: 5%;
}

.content-intro{
    box-shadow: 0px 2px 5px #777;
    margin-bottom: 5%;

}

#content-intro-text{
    margin: 5% 15%;
}

#content-intro-text h1{
    font-size: 2.75vw;
    margin-bottom: 40px;
    font-weight: bolder;
}

#content-intro-text p{
    font-size: 1.1vw;
    line-height: 1.8;
}

/*****TRIO LINK CSS*******/

.trio-link {
    margin-bottom: 50px;
}


.trio-img img{
    height: 95%;
    width: 95%;
    padding: 5px;
}

.trio-img img:hover{
    transform: scale(1.05);
    transition: transform .2s;
}

.trio-link h2{
    font-weight: 550;
    font-size: 1.5vw;
    padding: 12px;
}

.trio-link p{
    font-size: 1.05vw;
    margin: 0px 30px;
    line-height: 1.8;
    padding-bottom: 5px;
}

.trio-link h4{
    font-size: 1.05vw;
    padding-top: 20px;
    font-weight: bold;
}

.trio-link hr{
    width: 5vw;
    color: black;
    margin: auto;
}

.booking-section {
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        background-image: url("/media/background-test.jpg");
        color: white; 
}

.booking-section h1{
    font-size: 3.5vw;
    margin: 120px auto 40px;
    font-weight: bolder;
}

.booking-section p{
    font-size: 1.25vw;
    line-height: 1.8;
}
.review-section{
    padding: 50px;
}

#review-text h3{
    font-size: 1.25vw;
    letter-spacing: .4cm;
    color: blue;
}

#review-text h1{
    font-weight: bold;
    font-size: 3.5vw;
    padding: 10px;
}

footer{
    color: white;
    background-color: black;
    padding: 50px;
}

footer img{
    height: 15vh;
    margin-bottom: 20px;
    margin: auto;
}

footer p{
    font-size: 2vh;
}